@import "./root.css";

.d-flex {
    display: flex;
}
.col-6 {
    width: 50% !important;
}

.navbar {
    background-color: var(--black);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

.nav-brand {
    align-items: center;
    gap: 2rem;
}

.logo-img {
    width: 7vw;
}

.navbar a {
    text-decoration: none;
    color: var(--white);
    opacity: 50%;
}
.navbar a:hover {
    opacity: 100%;
}
.navbar .link {
    gap: 3rem;
}
.dropdown .drop-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    visibility: hidden;
}
.click:focus-within .drop-link {
    visibility: visible;
}
.dropdown .drop-link a {
    color: #000;
    z-index: 3;
    opacity: 100%;
    font-weight: 500;
    padding: 5px 1rem;
}
.dropdown .drop-link a:hover {
    background-color: var(--grey);
}

.container {
    padding: 3rem;
    gap: 5px;
    text-align: center;
}
.container h3 {
    font-weight: 600;
}

.table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;
}
.table thead {
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 1)
}
.table th, td {
    padding: 7px 5px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}
.sidebar {
    width: 25vw;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: -27vw;
    padding: 20px;
    filter: drop-shadow(1px 0 15px #222);
    transition: all .5s;
    visibility: hidden;
}

.logo-report {
    width: 10rem;
}
.container-report {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
    flex-direction: column;
}

.modal {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal .header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal .header-modal i {
    cursor: pointer;
}
.modal form {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 3px rgba(0,0,0,.6));
}
.modal form label {
    font-weight: 500;
}
.modal form input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
}
.modal form button {
    width: 50%;
    background-color: var(--blue);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, .7);
    padding: 5px;
}